node_modules
apidoc
!utils/*.ts
!scripts/apidoc
doc
*.js
*.js.map
temp/gracenote
!s3sync.js
!Gruntfile.js
typings
*results.txt
coverage/*
.tscache
*.log*
*.txt
ci/
!*changelog.txt
!*prev_commit.txt
!UnicodeData.txt
.idea/*
auth_session_data.json
temp/*
filebeat-5.2.1-darwin-x86_64/
.idea/
app/providers/mxone/provider-services/
app/services/threeready-service-authentication/config/
logs/
temp/
